.sign-up {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    width: 80vw;
}

.buttons {
    width: 30vw;
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
}