.sign-in-forms {
    width: 100%;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sign-in-options {
    padding: 10px;
    width: 80vw;

    h2 {
        margin: 20px 0;
    }
}